:root {
    --vert-principal: #86a391;
    --vert-clair: #a9bfae;
    --beige-fond: #f7f5f2;
    --gris-text: #444;
    --blanc: #ffffff;
}

/* Style général */
body {
    font-family: 'Poppins', sans-serif;
    background: var(--beige-fond);
    margin: 0;
    padding: 0;
    color: var(--gris-text);
}

/* ====== MENU ====== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--vert-principal);
    color: var(--blanc);
    padding: 15px 30px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.nav-left h2 {
    font-size: 1.2em;
    margin: 0;
}

.nav-right a {
    color: var(--blanc);
    margin-left: 20px;
    font-weight: 500;
    transition: opacity 0.2s;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: 500;
    transition: background 0.3s;
    background: var(--vert-clair);
}

.nav-right a:hover {
    border: 2px solid var(--beige-fond);
    color: var(--gris-text);
    background: transparent;
    opacity: 0.8;
}

.nav-right a.active {
    text-decoration: underline;
}

/* ====== CONTENU ====== */
.home-container {
    text-align: center;
    padding: 60px 30px;
    max-width: 700px;
    margin: 40px auto;
    background: var(--blanc);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

header h1 {
    color: var(--vert-principal);
    font-size: 2em;
}

header h1 span {
    color: var(--vert-clair);
}

header p {
    font-size: 1.1em;
    color: #666;
}

.intro {
    margin: 30px 0;
    font-size: 1em;
    line-height: 1.6;
}


footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}

/* Logo Style */
.logo1 {
    width: 350px;
    height: 350px;
    border-radius: 20%;
    border: var(--vert-principal) 4px solid;
}