/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    background: #86a391;
    padding: 15px;
    color: white;
}

.navbar a {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

/* CONTENEUR */
.container {
    width: 90%;
    margin: 30px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

/* TABLEAU */
.table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #86a391;
    color: white;
    padding: 12px;
    font-size: 16px;
}

td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

/* STATUTS */
.status.en_attente { color: orange; font-weight: bold; }
.status.approuvee { color: green; font-weight: bold; }
.status.rejettee { color: red; font-weight: bold; }

/* BOUTONS */
.approve-btn {
    background: #4CAF50;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.reject-btn {
    background: #e53935;
    border: none;
    padding: 8px 12px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

.valid-btn {
    background: #4CAF50;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.close-btn {
    background: gray;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
